html {
    background-color: rgb(217, 210, 210);
    text-align: center;
}
.python2{
    color: rgb(0, 128, 0);
    text-align: center;
}
.flowcharts2{
    color: rgb(63, 176, 97);
    text-align: center;
}
